{% trans_default_domain 'FOSUserBundle' %}

<div class="container col-md-12">
    <div class="row">
        
       {# <?php include '../layout/col-left-co.php'; ?> #}

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('fos_user_profile_show') }}">Mes informations</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mes infos</a></li>
                    <li><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></li>
                    <li><a href="adresses.php">Mes adresses</a></li>
                    <li><a href="{{ path('mickweb_user_factures') }}">Mes factures</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">deconnexion</a></li>
                    <li>{{ render(controller('MickwebEcommerceBundle:Panier:menu')) }}</li>
                </ul>
            </div>
        </nav>

        <div class="container mon-compte"> 
            <div class="row">        
                <div class="col-sm-12">
                <h2 class="titre-compte">Mes informations</h2>
               
                    
            {# <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner"> #}
                    
                    {# <div class="col-md-4">
                        <h4>Modifier mes informations</h4>
                        <form>
                            <label>Nom d'utilisateur</label>
                            <input type="text" name="email" id="email">
                            
                            <label>Adresse email</label>
                            <input type="text" name="email" id="email">
                            
                            <label>Mot de passe</label>
                            <input type="text" name="email" id="email">
                            
                            <label>Confirmer</label>
                            <input type="text" name="password" id="password">
                            <br />
                            <button class="btn btn-primary">Modifier</button>
                        </form>
                    </div> #}
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 text-center">
                            <div class="fos_user_user_show">
                                    <h4>Mes infos actuelles</h4>
                                    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                                    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                </div>
             </div>   
        </div>
    </div>
</div>