{# src/Mickweb/EcommerceBundle/Resources/views/Product/fiche_produit.html.twig #}

{% extends "MickwebEcommerceBundle::layout.html.twig" %}

{% block title %}
  Fiche produit - {{ parent() }}
{% endblock %}

{% block MickwebEcommerce_body %}

<div class="container col-md-12">
    <div class="row">
        <h2>Livraison</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="col-md-6">
                    {% if user.adresses |length != 0 %}
                    <form action="{{ path('mickweb_ecommerce_validation') }}" method="POST">
                        <h4>Adresse de livraison</h4>
                        {% for adresse in user.adresses %}
                        <label class="radio">
                            <input type="radio" name="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked" {% endif %}>
                            {{ adresse.prenom }} {{ adresse.nom }}
                            <br /> 
                            {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }} <a href="{{ path('mickweb_ecommerce_livraisonAdresseSuppression', {'id' : adresse.id }) }}"><i class="fas fa-trash-alt"></i></a>
                        </label>
                        {% endfor %}
                        
                        <br /><br />
                        
                        <h4>Adresse de facturation</h4>
                        {% for adresse in user.adresses %}
                        <label class="radio">
                            <input type="radio" name="facturation" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked" {% endif %}>
                            {{ adresse.prenom }} {{ adresse.nom }}
                            <br /> 
                            {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }} <a href="{{ path('mickweb_ecommerce_livraisonAdresseSuppression', {'id' : adresse.id }) }}"><i class="fas fa-trash-alt"></i></a>
                        </label>
                        {% endfor %}

                        <br />

                        <a href="{{ path('mickweb_ecommerce_validation') }}" class="btn btn-primary">Valider mes adresses</a>
                    </form>
                    {% endif %}
                </div>
                
                <div class="col-md-6">
                    <h4>Ajouter une nouvelle adresse</h4>
                    <form action="{{ path('mickweb_ecommerce_livraison') }}" method="POST">
                        {{ form_widget(form) }}                                     
                        
                        <br />
                        <button class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
        </div>	
	</div>
</div>


{% endblock %}
