{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <br>
    <div class="jumbotron-admin titre-admin">
        <div>
            <p>Catégories</p>
        </div>
    </div>

    <div class="admin-chapo">
        <div>
            <p>Voici la liste des catégories de produits présentes sur le site.<br>Pour en créer de nouvelles, cliquez sur le bouton ci-dessus :</p>
        </div>
        <div>
            <a href="{{ path('adminCategories_new') }}"><button class="btn-new">Créer une catégorie </button></a>
        </div>
    </div>
  
    <table class="table table-border">
        <thead class="thead thead-color">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('adminCategories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('adminCategories_show', { 'id': category.id }) }}"><button class="btn-show">Voir</button></a>
                    <a href="{{ path('adminCategories_edit', { 'id': category.id }) }}"><button class="btn-edit">Modifier</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
