{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <br>
    <div class="jumbotron-admin titre-admin">
        <div>
            <p>Liste des clients</p>
        </div>
    </div>

    <div class="admin-chapo">
        <div>
            <p>Voici la liste des clients du site.</p>
        </div>
    </div>
  
    <table class="table table-border">
        <thead class="thead thead-color">
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
        {% for user in utilisateurs %}
            <tr>
                {# <td><a href="{{ path('adminProduct_show', { 'id': product.id }) }}">{{ product.id }}</a></td> #}
                <td>{{ user.username }}</td>
                <td>
                    {# Si l'utilisateur n'a pas d'adresse, on affiche rien #}
                    {% if user.adresses|length != 0 %}
                     <a href="{{ path('adminAdressesUsers', { 'id': user.id }) }}"><button class="btn-show"><i class="fas fa-map-marker-alt"></i> Adresses</button></a>
                    {% else %}
                     <p>Aucune adresse pour ce client</p>
                    {% endif %}

                    {# Si l'utilisateur n'a pas commandé, on n'affiche pas de factures #}
                    {% if user.commandes|length != 0 %}
                     <a href="{{ path('adminFacturesUsers', { 'id': user.id }) }}"><button class="btn-edit"><i class="fas fa-receipt"></i> Factures</button></a>
                    {% else %}
                     <p>Aucune facture pour ce client</p>
                    {% endif %} 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
