{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    
    <br>
    <div class="jumbotron-admin titre-admin">
            <div>
                <p>Liste des produits</p>
            </div>
    </div>
    
    <div class="admin-chapo">
            <div>
                <p>Voici la liste complète des produits se trouvant sur le site.<br>Vous pouvez aussi en créer de nouveaux en cliquant sur le bouton ci-dessus :</p>
            </div>
            <div>
                <a href="{{ path('adminProduct_new') }}"><button class="btn-new">Ajouter</button></a>
            </div>
    </div>
   

    <table class="table table-border">
        <thead class="thead thead-color">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Description</th>
                <th scope="col">Published</th>
                <th scope="col">Disponible</th>
                <th scope="col">Prix</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="tr-hover">
                <th scope="row"><a href="{{ path('adminProduct_show', { 'id': product.id }) }}">{{ product.id }}</a></th>
                <td>{{ product.titre }}</td>
                <td>{{ product.auteur }}</td>
                <td>{{ product.description|slice(1, 50) }}</td>
                <td>{% if product.published %}Yes{% else %}No{% endif %}</td>
                <td>{% if product.disponible %}Yes{% else %}No{% endif %}</td>
                <td>{{ product.prix }}</td>
                <td>
                    <a href="{{ path('adminProduct_show', { 'id': product.id }) }}"><button class="btn-show">Voir</button></a>
                    <a href="{{ path('adminProduct_edit', { 'id': product.id }) }}"><button class="btn-edit">Modifier</button></a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
