{# src/Mickweb/EcommerceBundle/Resources/views/Product/index.html.twig #}

{% extends "MickwebEcommerceBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block description %} {# description à ajouter #} {% endblock %}

{% block MickwebEcommerce_body %}
  
  <h2> Vous êtes dans la catégorie : {{ categories.name }}</h2>

    <div class="container col-sm-12">
      <div class="row">
          {% for product in produits %} {# produits ou listProducts #}
                <div class="col-sm-4">
                  <div>
                    <h4><a href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">
                    {{ product.titre }}
        
                  </a></h4>
                    <div>
                    {% if product.image %}
                    {# <img src="{{ product.image.url }}" alt="{{ product.image.alt }}"> #}
                      <img 
                        src="{{ asset(product.image.webPath) }}"
                        alt="{{ product.image.alt }}"
                        width="250" height="250"
                      />
                    {% endif %}
                    </div>
                    <p>{{ product.prix }} €</p>
                    {# <p>{{ product.prix|tva(product.tva.multiplicate) }} €</p> #}
                    <a class="button button5" href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">Plus d'infos</a>
                    <a class="buttonBasket button6" href="{{ path('ajouter_panier', {'id': product.id}) }}">Ajouter au panier</a>
                  </div>           
                </div>
          
                {% else %} 
                <p>Aucun produit disponible</p> 
          {% endfor %}  
      </div>
    </div>
    
  
{% endblock %}
