{# src/Mickweb/EcommerceBundle/Resources/views/Product/fiche_produit.html.twig #}

{% extends "MickwebEcommerceBundle::layout.html.twig" %}

{% block title %}
  {{ product.titre }} - {{ parent() }}
{% endblock %}
{% block description %} {{ product.description }} {% endblock %}

{% block MickwebEcommerce_body %}

<div class="container col-sm-12">
  <i>Produit ajouté par  {{ product.auteur }}</i>
</div>
  {# Affichage des catégories.... n'affiche rien pour le moment 
  {% if not product.categories.empty %}
  <p>
    Cette annonce est parue dans les catégories suivantes :
    {% for category in product.categories %}
      {{ category.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
#}

{#test affiche#}
  
			
  <div class="container col-sm-12">
    <div class="row">
      <div class="col-sm-12">
				<div class="row">

					<div class="col-sm-6">
            {#<div class="well">#}
                {# On vérifie qu'une image soit bien associée au produit #}
                {% if product.image %}
                {# <img src="{{ product.image.url }}" alt="{{ product.image.alt }}"> #}
                  <img
                    src="{{ asset(product.image.webPath) }}"
                    alt="{{ product.image.alt }}"
                    width="400" 
                    height="350"
                  />
                {% endif %}
             {#</div>#}
					</div>

					<div class="col-sm-6">
						<h2>{{ product.titre }}</h2>
						<h5>AB29837 Item Model</h5>
						<p>{{ product.description }}</p>
						<h4>{{ product.prix }} €</h4>
           
						<form action="{{ path('ajouter_panier', { 'id': product.id }) }}" method="get">
							<select name="qte" class="span1">
                {% for i in 1..10  %}
								  <option value="{{ i }}"> {{ i }} </option>
                {% endfor %}
							</select>
							<div>
                  <a href="{{ path('ajouter_panier', {'id': product.id}) }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-edit"></i>
                    Ajouter au panier
                  </a>
							</div>
						</form>

				</div>
			</div>
		</div>
  </div>

  <hr/>
  <div class="container col-sm-12">
    <h2>Avis sur le produit</h2>
    <div>
      {# boucle foreach qui permet d'afficher les avis #}
        <ul>
          {# {% for avis in listAvis %} #}
            {# <li>
              <p> {{ avis.commentaire }} </p>
              <p> note : {{ avis.note }} </p>
              <p> Date de publication : {{ avis.date|date('Y-m-d') }} </p>
            </li>
            <hr>
          {% else %}
            <li>Aucun avis </li>
          {% endfor %} #}
        </ul>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# le lien vers les avis n'est pas bon --- penser à le mettre à jour #}
        <div class="container col-sm-12">
          <a href="{{ path('mickweb_ecommerce_homepage') }}" class="btn btn-warning">
            <i class="glyphicon glyphicon-edit"></i>
            mettre un avis
          </a>
        </div>
        {% endif %}
    </div>
  </div>

  <hr/>

  <div class="container col-sm-12">
  <hr/>
    <p>
        <a href="{{ path('mickweb_ecommerce_homepage') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour à la liste
        </a>

        <a href="{{ path('mickweb_ecommerce_modifier', {'id': product.id}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-edit"></i>
          Modifier le produit
        </a>

        <a href="{{ path('mickweb_ecommerce_supprimer', {'id': product.id}) }}" class="btn btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
          Supprimer le produit
        </a>
    </p>
  </div>


{% endblock %}
