{# src/Mickweb/EcommerceBundle/Resources/views/Product/fiche_produit.html.twig #}

{% extends "MickwebEcommerceBundle::layout.html.twig" %}

{% block title %}
  Fiche produit - {{ parent() }}
{% endblock %}

{% block MickwebEcommerce_body %}

  <h2>{{ product.titre }}</h2>
  <i>Par {{ product.auteur }}</i>

  <div style="display:flex"> {# penser à mettre le css dans le dossier web  #}
    <div class="well">
        {# On vérifie qu'une image soit bien associée à l'annonce #}
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.image.alt }}">
        {% endif %}
    </div>
    <div class="well">
        {{ product.description }}
    </div>
  </div>

  <h2>Avis sur le produit</h2>
    <div>
      {# boucle foreach qui permet d'afficher les avis #}
    
        <ul>
          {% for avis in listAvis %}
            <li> 
              <p> {{ avis.commentaire }} </p>
              <p> note : {{ avis.note }} </p>
              <p> Date de publication : {{ avis.date|date('Y-m-d') }} </p>
            </li>
            <hr>
          {% else %}  
            <li>Aucun commentaire </li>
          {% endfor %}
        </ul>

    </div>


  <p>
      <a href="{{ path('mickweb_ecommerce_homepage') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste
      </a>

      <a href="{{ path('mickweb_ecommerce_modifier', {'id': product.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Modifier le produit
      </a>

      <a href="{{ path('mickweb_ecommerce_supprimer', {'id': product.id}) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        Supprimer le produit
      </a>
  </p>

{% endblock %}
