{# src/Mickweb/EcommerceBundle/Resources/views/Product/fiche_produit.html.twig #}

{% extends "MickwebEcommerceBundle::layout.html.twig" %}

{% block title %}
  Fiche produit - {{ parent() }}
{% endblock %}

{% block MickwebEcommerce_body %}

  <h2>{{ product.titre }}</h2>
  <i>Par {{ product.auteur }}</i>

  <div style="display:flex"> {# penser à mettre le css dans le dossier web  #}
    <div class="well">
        {# On vérifie qu'une image soit bien associée au produit #}
        {% if product.image %}
        {# <img src="{{ product.image.url }}" alt="{{ product.image.alt }}"> #}
          <img
            src="{{ asset(product.image.webPath) }}"
            alt="{{ product.image.alt }}"
          />
        {% endif %}
    </div>
    <div class="well">
        {{ product.description }}
    </div>
  </div>

  <div>
    {# le lien vers les avis n'est pas bon --- penser à le mettre à jour #}
    <a href="{{ path('mickweb_ecommerce_homepage') }}" class="btn btn-success">
      <i class="glyphicon glyphicon-edit"></i>
      Ajouter au panier
    </a>
  </div>

  {# Affichage des catégories.... n'affiche rien pour le moment #}
  {% if not product.categories.empty %}
  <p>
    Cette annonce est parue dans les catégories suivantes :
    {% for category in product.categories %}
      {{ category.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}

  <h2>Avis sur le produit</h2>
    <div>
      {# boucle foreach qui permet d'afficher les avis #}
        <ul>
          {% for avis in listAvis %}
            <li>
              <p> {{ avis.commentaire }} </p>
              <p> note : {{ avis.note }} </p>
              <p> Date de publication : {{ avis.date|date('Y-m-d') }} </p>
            </li>
            <hr>
          {% else %}
            <li>Aucun avis </li>
          {% endfor %}
        </ul>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# le lien vers les avis n'est pas bon --- penser à le mettre à jour #}
        <a href="{{ path('mickweb_ecommerce_homepage') }}" class="btn btn-warning">
          <i class="glyphicon glyphicon-edit"></i>
          mettre un avis
        </a>
        {% endif %}
    </div>

  <div>
    <p>
        <a href="{{ path('mickweb_ecommerce_homepage') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour à la liste
        </a>

        <a href="{{ path('mickweb_ecommerce_modifier', {'id': product.id}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-edit"></i>
          Modifier le produit
        </a>

        <a href="{{ path('mickweb_ecommerce_supprimer', {'id': product.id}) }}" class="btn btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
          Supprimer le produit
        </a>
    </p>
  </div>


{#test affiche#}
  
			
  <div class="container col-sm-12">
    <div class="row">

      <div class="col-sm-12">
			
				<div class="row">
					<div class="col-sm-6">
            {#<div class="well">#}
                {# On vérifie qu'une image soit bien associée au produit #}
                {% if product.image %}
                {# <img src="{{ product.image.url }}" alt="{{ product.image.alt }}"> #}
                  <img
                    src="{{ asset(product.image.webPath) }}"
                    alt="{{ product.image.alt }}"
                    width="400" 
                    height="300"
                  />
                {% endif %}
             {#</div>#}
					</div>

					<div class="col-sm-6">
						<h2>{{ product.titre }}</h2>
						<h5>AB29837 Item Model</h5>
						<p>{{ product.description }}</p>
						<h4>3.33€</h4>
						<form action="panier.php">
							<select name="qte" class="span1">
								<option>1</option>
							</select>

							<div>
							    <button class="btn btn-primary">Ajouter au panier</button>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
  </div>


{% endblock %}
