{# src/Mickweb/EcommerceBundle/Resources/views/Product/index.html.twig #}

{% extends "MickwebEcommerceBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block description %} {# description à ajouter #} {% endblock %}

{% block MickwebEcommerce_body %}

  {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">{{ flashMessage }}</div>
  {% endfor %}

  <div class="container">
    <div class="jumbotron">

      {{ form_start(form) }}

      <div class="form-row">
        <div class="col-sm-4">
        {{ form_row(form.minPrice)}}
        </div>

        <div class="col-sm-4">
        {{ form_row(form.maxPrice)}}
        </div>
        
        <div class="col-sm-4">
          <div class="form-group">
            <button class="btn-recherche">Lancer la recherche</button>
          </div>
        </div>
      
      </div>
      {{ form_end(form)}}

    </div>
  </div>

  <div class="titre_nos_produits"> 
    <h2>Nos produits phares</h2>  
      
      <div class="bloc_produits">
        <a href="jeans_femme.html">
        <div class="img_pantalons">
          <img src="../img/31.jpeg" alt="tshirt vert" width="250" height="250">
          <div class="texte_img_pantalons">Jeans <span>FEMME</span></div>
        </div>  
        </a>


        <a href="shoes_femme.html">
        <div class="img_chaussures">
        <img src="../img/31.jpeg" alt="tshirt vert" width="250" height="250">
        <div class="texte_img_chaussures">Chaussures <span>FEMME</span></div>
        </div>
        </a>

        <a href="vestes_femme.html">
        <div class="img_vestes">
        <img src="../img/31.jpeg" alt="tshirt vert" width="250" height="250">
        <div class="texte_img_vestes">Vestes <span>FEMME</span></div>
        </div>
        </a>

        <a href="accessoires_homme.html">
        <div class="img_accessoires">
        <img src="../img/31.jpeg" alt="tshirt vert" width="250" height="250">
        <div class="texte_img_accessoires">Accessoires <span>HOMME</span></div>
        </div>
        </a>

      </div> 
  </div>

  {# Système de filtre prix #}
  <div class="container col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <p>
            <label for="amount">Chercher un prix compris entre :</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          </p>
          <div id="slider-range"></div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
              <label for="select-order">Trier les produits par :</label>
              <select class="form-control" id="select-order">
                  <option value="position">Prix le moins cher</option>
                  <option value="prix">Prix le plus cher</option>
                  <option value="name">Catégorie</option>
              </select>
          </div>
        </div>

        <div class="col-sm-4">
          <p>
            <label for="amount">Price range:</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          </p>
        </div>
      </div>
  </div>

  <h2>Liste des produits</h2>
    <div class="container col-sm-12">
      <div class="row">
          {% for product in listProducts %} {# produits ou listProducts #}
                <div class="col-sm-4">
                  <div>
                      <div class="product-image">
                        {% if product.image %}
                        {# <img src="{{ product.image.url }}" alt="{{ product.image.alt }}"> #}
                          <img 
                            src="{{ asset(product.image.webPath) }}"
                            alt="{{ product.image.alt }}"
                            width="250" height="250"
                          />
                        {% endif %}
                      </div>

                      <div class="container col-sm-12 product-t-p">
                          <div class="row">
                              <div class="col-sm-6">
                                <h4 class="product-titre"><a href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">
                                {{ product.titre }}
                                </a></h4>
                              </div>
                              <div class="col-sm-6 product-prix">
                                <p>{{ product.prix }} €</p>
                                {# <p>{{ product.prix|tva(product.tva.multiplicate) }} €</p> #}
                              </div>
                          </div>
                      </div>

                      <div class="container col-sm-12 product-t-p">
                        <div class="row">
                          <div class="col-sm-6">
                            <a class="button button5" href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">Plus d'infos</a>
                            {% if panier[product.id] is not defined %}
                          </div>
                          <div class="col-sm-6">
                            <a class="buttonBasket button6" href="{{ path('ajouter_panier', {'id': product.id}) }}">Ajouter au panier</a>
                            {% else %}
                            <p class="buttonBasket buttondeja">Déjà dans votre panier</p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                        
                  </div>
                </div>           
              
                
                {% else %} 
                <p>Aucun produit disponible</p> 

          {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(listProducts) }}
            </div>
      </div>
    </div>
  
{% endblock %}

