{# src/Mickweb/EcommerceBundle/Resources/views/Product/index.html.twig #}

{% extends "MickwebEcommerceBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block MickwebEcommerce_body %}



  <h2>Liste des produits</h2>

    <div class="container col-sm-12">
      <div class="row">

        {% for product in listProducts %}
              <div class="col-sm-4 well">
                <div>
                  <h4><a href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">
                  {{ product.titre }}
                </a></h4>
                  <div>
                  {% if product.image %}
                  {# <img src="{{ product.image.url }}" alt="{{ product.image.alt }}"> #}
                    <img 
                      src="{{ asset(product.image.webPath) }}"
                      alt="{{ product.image.alt }}"
                      width="250" height="250"
                    />
                  {% endif %}
                  </div>
                  <p>{{product.prix}} €</p>
                  <a class="button button5" href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">Plus d'infos</a>
                  <a class="buttonBasket button6" href="{{ path('ajouter_panier', {'id': product.id}) }}">Ajouter au panier</a>
                </div>           
              </div>
          
          {% else %} 
              <p>Aucun produit disponible</p> 
        {% endfor %}
      </div>
    </div>

  <div class="container col-sm-12">
    <div class="row">

      <div class="col-sm-4">
        <img src="../img/rats_1.jpg" alt="Rats1" width="250" height="250">
        <div>
          <h4>Thumbnail label</h4>
          <p>100,00 €</p>
          <a class="btn btn-primary" href="produit.php">Plus d'infos</a>
          <a class="btn btn-success" href="panier.php">Ajouter au panier</a>
        </div>           
      </div>

      <div class="col-sm-4">
        <img src="../img/rats_2.jpg" alt="rats2" width="250" height="250">
        <div>
          <h4>Thumbnail label</h4>
          <p>100,00 €</p>
          <a class="btn btn-primary" href="produit.php">Plus d'infos</a>
          <a class="btn btn-success" href="panier.php">Ajouter au panier</a>
        </div>
      </div>

      <div class="col-sm-4">
        <img src="../img/rats_2.jpg" alt="rats2" width="250" height="250">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <p>100,00 €</p>
          <a class="btn btn-primary" href="produit.php">Plus d'infos</a>
          <a class="btn btn-success" href="panier.php">Ajouter au panier</a>
        </div>
      </div>
      
    </div>
  </div>
  
{% endblock %}
