{# src/Mickweb/EcommerceBundle/Resources/views/Product/index.html.twig #}

{% extends "MickwebEcommerceBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block description %} {# description à ajouter #} {% endblock %}

{% block MickwebEcommerce_body %}

  {% for flashMessage in app.session.flashbag.get('success') %}
      <div class="alert alert-success">{{ flashMessage }}</div>
  {% endfor %}

  <div class="titre_nos_produits"> 
    <h2>Nos produits phares</h2>  
      
      <div class="bloc_produits">
        <a href="jeans_femme.html">
        <div class="img_pantalons">
          <img src="../img/31.jpeg" alt="tshirt vert" width="250" height="250">
          <div class="texte_img_pantalons">Jeans <span>FEMME</span></div>
        </div>  
        </a>


        <a href="shoes_femme.html">
        <div class="img_chaussures">
        <img src="../img/31.jpeg" alt="tshirt vert" width="250" height="250">
        <div class="texte_img_chaussures">Chaussures <span>FEMME</span></div>
        </div>
        </a>

        <a href="vestes_femme.html">
        <div class="img_vestes">
        <img src="../img/31.jpeg" alt="tshirt vert" width="250" height="250">
        <div class="texte_img_vestes">Vestes <span>FEMME</span></div>
        </div>
        </a>

        <a href="accessoires_homme.html">
        <div class="img_accessoires">
        <img src="../img/31.jpeg" alt="tshirt vert" width="250" height="250">
        <div class="texte_img_accessoires">Accessoires <span>HOMME</span></div>
        </div>
        </a>

      </div> 
  </div>

   <div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
    <button class="button" data-filter=".metal">metal</button>
    <button class="button" data-filter=".transition">transition</button>
    <button class="button" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</button>
    <button class="button" data-filter=":not(.transition)">not transition</button>
    <button class="button" data-filter=".metal:not(.transition)">metal but not transition</button>
    <button class="button" data-filter="numberGreaterThan50">number > 50</button>
    <button class="button" data-filter="ium">name ends with &ndash;ium</button>
  </div>


 {# <div class="container col-sm-12">
    <div class="row">
        <div class="col-sm-8">
                 
                            <div class="form-group">
                                <label for="select-order">Classer par</label>
                                <select class="form-control" id="select-order">
                                    <option value="position">Position</option>
                                    <option value="prix">Prix</option>
                                    <option value="name">Nom</option>
                                </select>
                            </div>
                            
                                  {% for product in listProducts %}
                                  <div class="card-container row">
                                <div class="item col-md-4" data-position="1" data-prix="{{ product.prix }}" data-name="Paul">
                                    <div class="card mb-3">
                                            <div class="col-sm-4">
                                              <div class="card-title">
                                                <h4><a href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">
                                                {{ product.titre }}
                                              </a></h4>
                                                <div class="card-img-top">
                                                {% if product.image %}
                                                  <img 
                                                    src="{{ asset(product.image.webPath) }}"
                                                    alt="{{ product.image.alt }}"
                                                    width="250" height="250"
                                                  />
                                                {% endif %}
                                                </div>
                                                <p>{{ product.prix }} €</p>
                                                
                                                <a class="button button5" href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">Plus d'infos</a>
                                                {% if panier[product.id] is not defined %}
                                                <a class="buttonBasket button6" href="{{ path('ajouter_panier', {'id': product.id}) }}">Ajouter au panier</a>
                                                {% else %}
                                                <p class="buttonBasket buttondeja">Déjà dans votre panier</p>
                                                {% endif %}
                                              </div>           
                                            </div>
                                            
                                            {% else %} 
                                            <p>Aucun produit disponible</p> 
</div>
                                </div>
                            </div>
                
                                      {% endfor %}
                                  
                                    
                   
  </div>
      </div>
  </div> #}

  <h2>Liste des produits</h2>

    <div class="container col-sm-12">
      <div class="row">
          {% for product in listProducts %} {# produits ou listProducts #}
                <div class="col-sm-4">
                  <div>
                    <h4><a href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">
                    {{ product.titre }}
                  </a></h4>
                    <div>
                    {% if product.image %}
                    {# <img src="{{ product.image.url }}" alt="{{ product.image.alt }}"> #}
                      <img 
                        src="{{ asset(product.image.webPath) }}"
                        alt="{{ product.image.alt }}"
                        width="250" height="250"
                      />
                    {% endif %}
                    </div>
                    <p>{{ product.prix }} €</p>
                    {# <p>{{ product.prix|tva(product.tva.multiplicate) }} €</p> #}
                    <a class="button button5" href="{{ path('mickweb_ecommerce_fiche_produit', {'id': product.id}) }}">Plus d'infos</a>
                    {% if panier[product.id] is not defined %}
                    <a class="buttonBasket button6" href="{{ path('ajouter_panier', {'id': product.id}) }}">Ajouter au panier</a>
                    {% else %}
                     <p class="buttonBasket buttondeja">Déjà dans votre panier</p>
                    {% endif %}
                  </div>           
                </div>
                
                {% else %} 
                <p>Aucun produit disponible</p> 

          {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(listProducts) }}
            </div>
      </div>
    </div>
  
{% endblock %}

