{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
  
  <br>
    <div class="jumbotron-admin titre-admin">
            <div>
                <p>Pages du footer</p>
            </div>
    </div>
    
    <div class="admin-chapo">
            <div>
                <p>Voici la liste complète des pages se trouvant sur le footer du site.<br>Vous pouvez aussi en créer de nouvelles en cliquant sur le bouton ci-dessus :</p>
            </div>
            <div>
                <a href="{{ path('adminPages_new') }}"><button class="btn-new">Ajouter</button></a>
            </div>
    </div>
  
    <table class="table table-border">
        <thead class="thead thead-color">
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td><a href="{{ path('adminPages_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
                    <td>{{ page.titre }}</td>
                    <td>{{ page.contenu|slice(1, 50) }}</td>
                    <td>
                        <a href="{{ path('adminPages_show', { 'id': page.id }) }}"><button class="btn-show">Voir</button></a>
                        <a href="{{ path('adminPages_edit', { 'id': page.id }) }}"><button class="btn-edit">Modifier</button></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}
