{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <br>
    <div class="jumbotron-admin titre-admin">
            <div>
                <p>Commandes passées</p>
            </div>
    </div>
    
    <div class="admin-chapo">
            <div>
                <p>Voici la liste complète des commandes passées par les clients.</p>
            </div>
    </div>
  
    <table class="table table-border">
        <thead class="thead thead-color">
            <tr>
                <th>Date de commande</th>
                <th>Référence</th>
                <th>Nom du client</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                {# <td><a href="{{ path('adminProduct_show', { 'id': product.id }) }}">{{ product.id }}</a></td> #}
                <td>{{ commande.date|date('d-m-Y h:i:s') }}</td>
                <td>{{ commande.reference }}</td>
                <td>{{ commande.user }}</td>
                <td>
                    <a href="{{ path('adminCommandes_showFacture', {'id': commande.id}) }}"><button class="btn-show">Voir les factures</button></a>
                    {# <a href="{{ path('adminProduct_show', { 'id': product.id }) }}"><button class="btn-show">Voir</button></a> #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
